.prepend-2.parch-box
  .span-8.prepend-1.append-1
    %h3 Who is Crazy Judah?
    %p Crazy Judah is a Sydney based band named after the engineer who first dreamed of a railroad running across the continental US. |
       The band consists of five seasoned musicians: |
    %ul
      %li
        %strong Andy Duncan 
        %span Lead vocals
      %li
        %strong Glenn Ford
        %span Keyboards, backing vocals
      %li
        %strong Brett Slade
        %span Drums, backing vocals
      %li
        %strong Noel Hucker
        %span Bass, backing vocals
      %li
        %strong Stephen Sarjeant
        %span Guitar, backing vocals
      
    %h3 Connect With Crazy Judah
    %ul.setlist
      %li.twitter
        %a(href="http://twitter.com/crazyjudah")
          Follow @crazyjudah on Twitter
      %li.facebook
        %a(href="http://www.facebook.com/pages/Crazy-Judah/126520996286")
          Become a fan of Crazy Judah on Facebook
    
  .span-8.append-1.last
    %h3 The Crazy Judah Experience
    %p It’s all about impact, energy, quality and professionalism. Not too heavy, nothing too clichéd - just music to get you up and keep you up.
    %p When you’re looking for a live performance that delivers well beyond standard-issue covers, that’s when you should call on Crazy Judah.
    
    %h3 Next Gig
    %p Gig details coming soon!
    -#%p
      %strong 15th May 2010
      at 
      %strong Manly Fisho's

    -#%div
      Follow Crazy Judah on
      %a(href="http://twitter.com/crazyjudah")
        Twitter
      or
      %a(href="http://www.facebook.com/pages/Crazy-Judah/126520996286")
        Facebook
      for updates

    %h3 Book Now
    %p
      Book Crazy Judah for your event
      %strong
        %a(href="mailto:crazyj@bigpond.com") now

    