%img(src="/images/home_parchment.png")

-#  %p
-#    :plain
-#      We play rock covers with an uncompromising, hard-edged style that comes from
-#      many, (many) years of professional experience! If the style could be summed
-#      up in just a few words...it would be Industrial Strength Rock!
-#
-#      Our repertoire traces the history of rock, from the 60s-70s classic rock
-#      of Deep Purple, Bad Company, Pink Floyd and Santana, through the 80s
-#      big-hair rock of Bon Jovi and Van Halen, the stadium rock of INXS and
-#      U2. The 90s grunge sounds of the Stone Temple Pilots and the Foo
-#      Fighters, right up to the bands of the 21st century, like Coldplay and
-#      Muse. All performed with meticulous detail and a genuine affection for the
-#      material.
-#
-#
-#      Theodore Dehone Judah was a 19th century engineer who first proposed
-#      the radical notion of a transcontinental railway that would connect
-#      the east coast of the USA to the west. Thought by many to be a pioneer, he
-#      was nicknamed 'Crazy Judah' for his enthusiasm and single-mindedness.
-#
-#
-#      All of the songs were recorded live in one session with no
-#      overdubs. There are no effects used, only some EQ - as would happen in a
-#      live situation, with front-of-house mixing.
-#
-#      These demos are a good indication of how the band sounds onstage - perfect
-#      for pubs and clubs, corporate functions, open air events and themed parties.
-#