!!! 
%html
  %head
    %title Crazy Judah - Industrial Strength Rock
    %meta(http-equiv="content-type" content="text/html" charset="utf-8")
    %meta(http-equiv="Content-Language" content="en")
    %link(href="/css/screen.css" media="screen" rel="stylesheet" type="text/css")
    %style
      :sass
        body
          background: #090909
        .showgrid
          background: url('http://www.blueprintcss.org/blueprint/src/grid.png')
        .container
          background: #151515 url('/images/plans.png')
          border: 1px solid #111
        .header
          text-align: center
        .parchment
          min-height: 365px
          background: url('/images/parchment.png') top center no-repeat
        .parch-box
          padding-top: 2em
        .footer
          text-align: center
        ul.setlist
          list-style-type: none
          line-height: 1.4
          
  %body
    .container
      .header
        %h1
          %div Crazy Judah
          %a(href="/")
            %img(src="/images/logo.png")
          
      .body.parchment
        = yield
        
      .footer
        %img(src="/images/footer.png")
