.prepend-2.parch-box
  .span-9.prepend-1
    %h3 What we play
    %p
      Audiences of all ages will connect with Crazy Judah’s repertoire of contemporary, classic and |
      Aussie rock. The common denominator is an ‘industrial strength’ driving beat that sits underneath |
      the strong melodies and big harmonies. |
    %p Crazy Judah's set list is built from songs made famous by some of the biggest names in rock, including:
    %ul.setlist
      %li
        %strong INXS
      %li
        %strong COLDPLAY
      %li
        %strong SNOW PATROL
      %li
        %strong U2
      %li
        %strong FOO FIGHTERS
      %li
        %strong BON JOVI

  .span-9.last
    %ul.setlist
      %li &nbsp;
      %li &nbsp;
      %li
        %strong KINGS OF LEON
      %li
        %strong MUSE
      %li
        %strong AUDIOSLAVE
      %li
        %strong STONE TEMPLE PILOTS
      %li
        %strong PINK FLOYD
      %li
        %strong METALLICA
      %li
        %strong AC/DC
      %li
        %strong LED ZEPPELIN
      %li
        %strong STEPPENWOLF
      %li
        %strong COLD CHISEL
      %li
        %strong CROSBY, STILLS, NASH & YOUNG
      %li
        %strong DEEP PURPLE
      %li
        %strong SANTANA
      %li
        %strong DAVID BOWIE
      %li
        %strong ANIMALS
