.prepend-2.parch-box
  .span-8.prepend-1.append-1
    %h3 Live performances on Video
    %p
      This is a small selection of Crazy Judah's live videos:
    %ul
      %li
        %a(href="http://www.youtube.com/watch?v=3uIdVWTzxPc")
          %span.loud STONE TEMPLE PILOTS
          %strong Vasoline
      %li
        %a(href="http://www.youtube.com/watch?v=L6SpVi3qp9w")
          %span.loud FOO FIGHTERS
          %strong Times Like These
      %li
        %a(href="http://www.youtube.com/watch?v=ndnVkZVGG6Q")
          %span.loud DEEP PURPLE
          %strong Highway Star
      %li
        %a(href="http://www.youtube.com/watch?v=AF-jBEArLgQ")
          %span.loud JONI MITCHELL
          %strong Woodstock
    
  .span-8.append-1.last
    %h3 Live Music
    %p
      These demos are a good indication of how Crazy Judah sounds onstage - perfect
      for pubs and clubs, corporate functions, open air events and themed parties.
